 .why-socabeg{
        display: grid;
        grid-template-columns: repeat(12 , 1fr);
    }
    .why-text{
        grid-column-end: span 6;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        .title{
            display: flex;
            align-items: center;
            column-gap: 5px;
            .title-text{
                font-size: 24px;
                font-weight: 800;
                h4{
                    margin: 0;
                    padding-bottom: 10px;
                }
            }
        }
        .explanation{
            p{
            font-size: 14px;
            font-weight: 400;
            color: $p-color;
            margin: 0;
            line-height: 35px;
            }
        }
        .but{
            .but-item{
                display: flex;
                align-items: center;
                column-gap: 5px;
                margin-bottom: 10px;
                .text{
                    h6{
                        margin: 0;
                        font-size: 14px;
                        font-weight: 600;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
    .why-images{
        grid-column-end: span 6;
    }
    @media screen and (max-width : 1280px) {
        .why-socabeg{
            .why-images{
                img{
                    width: 95%;
                }
            }
        }
    }
    @media screen and (max-width : 769px) {
        .why-socabeg{
            row-gap: 30px;
            .why-text{
                grid-column-end: span 12;
            }
            .why-images{
                grid-column-end: span 12;
                
            }
        }
    }